# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build output
build/
dist/

# IDEs and text editors
.vscode/
.idea/



package-lock.json



# dotenv
.env.local
.env.development.local
.env.test.local
.env.production.local
